.ImgEmailZimletNavBarBG{background:url("/service/zimlet/com_zimbra_email/img/EmailZimletNavBar.png") repeat;}
.EmailToolTipSlideText{position:relative;top:40%;font-size:12px;font-weight:bold;}
.EmailToolTipSlideErrorColor{color:#8C0000;}
.EmailToolTipSlideMsgColor{color:#666;}
.ImgUnknownPerson_contact{background:url("/service/zimlet/com_zimbra_email/img/UnknownPerson_contact.gif") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.ImgMail_icon{background:url("/service/zimlet/com_zimbra_email/img/mail_icon.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.ImgCalendar_icon{background:url("/service/zimlet/com_zimbra_email/img/calendar_icon.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.Img_available,.Img_unavailable,.Img_busy,.Img_dnd,.Img_onthephone,.Img_away,.Img_vacation,.Img_unknown{background:transparent no-repeat 0 0;width:12px;height:12px;overflow:hidden;margin-right:.5em;}
.Img_available{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceAvailable.png");}
.Img_unavailable,.Img_busy,.Img_dnd,.Img_onthephone{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceUnavailable.png");}
.Img_away,.Img_vacation,.Img_unknown{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceBusy.png");}
.ImgEmailZimlet_closeBtn{background:url("/service/zimlet/com_zimbra_email/img/EmailZimlet_closeBtn.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.EmailZimlet_veil{position:absolute;display:block;width:100%;height:100%;z-index:700;background:black;opacity:.2;zoom:1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);cursor:pointer;top:0;left:0;}
.video-panel{position:relative;padding:10px;background:none repeat scroll 0 0 #E3E9F0;}
.youTubeImagePreview{padding:5px 5px 5px 5px;background-color:black;display:inline-block;}
.thumb-wrapper{position:relative;float:left;}
.play{position:absolute;float:left;top:30px;left:35px;width:58;height:41;z-index:100;background:transparent url(/service/zimlet/com_zimbra_url/play_youtube.png) no-repeat;}
.movie-player{clear:both;}
.Imgyemoticons-panelIcon{background:url("/service/zimlet/com_zimbra_ymemoticons/yemoticons.gif") no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.ymemoticonsPrefDialog{width:200px;overflow:hidden;}
.AttachContactsTabBox{background-color:#FDFCFA;border-right:1px solid #E0E0E0;}
table.AttachContacts_table input[type="text"]{border-color:#3A73AB;border-width:1;border-style:solid;width:200px;height:20px;padding:2px 4px;}
.AttachContactRow{border-style:solid;border-width:1px 0;cursor:pointer;border-color:#E0E0E0;padding:3px 0;}
.ImgWEBEX-panelIcon{background:url("/service/zimlet/com_zimbra_webex/webex.gif") no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.webExZimlet_YellowBold{background:#FFC;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;}
.webExZimlet_lightGray{border-bottom:1px solid #6E6E6E;border-top:1px solid #6E6E6E;font-weight:bold;padding:2px;}
.webExZimlet_gray{background:#808080;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;font-weight:bold;color:white;padding:4px;}
.webExZimlet_grayAccntHdr{background:#808080;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;font-weight:bold;color:white;font-size:14px;padding:4px;}
table.webExZimlet_table input{border-color:#3A73AB;border-width:1;border-style:solid;width:230px;height:20px;padding:2px 4px;}
table.webExZimlet_table textarea{border-color:#3A73AB;border-width:1;border-style:solid;width:230px;padding:2px 4px;}
table.webExZimlet_table select{border-color:#3A73AB;border-width:1;border-style:solid;}
.webex_hoverTable tr:hover{background-color:#ccd5e8;}
.webex_hoverTable td{border-bottom:1px solid #BBB;height:27px;padding:.5em;vertical-align:middle;}
.webex_hoverTable th{border-bottom:1px solid #333;height:30px;padding:.5em;vertical-align:middle;}
.webex_hoverTable a{text-decoration:underline;}
.Imgattachmail-panelIcon{background:url("/service/zimlet/com_zimbra_attachmail/attachmail.gif") no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.AttachMailTabBox{background-color:#FDFCFA;border-right:1px solid #E0E0E0;}
.AttachMailRowDiv{border-style:solid;border-width:1px 0;cursor:pointer;border-color:#E0E0E0;padding:3px 0;}
.AttachMailSubject{font-weight:bold;font-size:13px;color:#2B2A2B;}
.AttachMailFrom{font-weight:bold;font-size:11px;color:#2B2A2B;}
.AttachMailFrag{overflow:hidden;color:gray;}
.AttachMailList .Row-selected,.AttachMailList .Row-focused{border:none;}